.tutorial-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 90%;
    padding: 25px;
}

.tutorial-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: auto;
    border-bottom: 3px solid aqua;
}

.titulo{
    width: 30%;
    height: auto;
    font-weight: bolder;
    font-family: Roboto;
    font-size: 18px;
}

.descripcion{
    width: 30%;
    height: auto;
    font-weight: bolder;
    font-family: Arial;
    font-size: 16px;
}

audio {
  width: ;: 40%;
  margin-bottom: 0.5rem;
}

.descargar {
  display: inline-block;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin: 7px;
}

.descargar:hover {
  background-color: #1e40af;
}

.material-symbols-outlined {
    font-size: 24px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    padding: 2px;
    margin: 5px;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
}

/*RESPOMSIVE MOBILE AND TABLETS*/
@media (max-width: 768px) {
    .tutorial-list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
    }
    h1{
        font-size: 22px;
    }
    .tutorial-item{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titulo, .descripcion, audio {
        width: 100%;
        margin-bottom: 10px;
    }
    .titulo{
        font-weight: bolder;
        text-align: center;
    }
    .descripcion{
        margin-bottom: 4px;
    }
    .descargar{
        margin-bottom: 6px;
    }
} 